<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ProductVersion.wxi?>
  <Product Id="*" Name="MyDLP" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Medra Tech."
           UpgradeCode="9BA3E701-8F64-46B1-9D2A-8A29B22C0F65">

    <Package Id='*' Keywords='Installer' Description="MyDLP Endpoint Installer"
    Comments='comment' Manufacturer='Medra Tech.'
    InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="MyDLP">
          <Directory Id="LOGSDIR" Name="logs" />
          <Directory Id="RUNDIR" Name="run" />
          <Directory Id="SPOOLDIR" Name="spool" />
          <Directory Id="MNESIADIR" Name="mnesia" />
          <Directory Id="PRINTINGDIR" Name="printing" />
          <Directory Id="ENGINEDIR" Name="engine">
            <Directory Id="ENGINEJAVADIR" Name="java" />
            <Directory Id="ENGINEERLDIR" Name="erl" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Level="1">
      <!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
      <ComponentGroupRef Id="MainComponent" />
      <ComponentGroupRef Id="ControlPanel" />
      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="cygwin" />
      <ComponentGroupRef Id="erl5.8.5" />
      <ComponentGroupRef Id="engine_erl" />
      <ComponentGroupRef Id="jre7" />
      <ComponentGroupRef Id="printing" />
      <ComponentGroupRef Id="internal" />
    </Feature>

    <Upgrade Id="9BA3E701-8F64-46B1-9D2A-8A29B22C0F65">
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
        Maximum="$(var.ProductVersion)" IncludeMaximum="no"/>
      <UpgradeVersion OnlyDetect="yes" Property="SELFFOUND"
        Minimum="$(var.ProductVersion)" IncludeMinimum="yes"
        Maximum="$(var.ProductVersion)" IncludeMaximum="yes" />
      <UpgradeVersion OnlyDetect="yes" Property="NEWERFOUND"
        Minimum="$(var.ProductVersion)" IncludeMinimum="no" />
    </Upgrade>

    <InstallExecuteSequence>
      <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
      <Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
      <RemoveExistingProducts After="InstallInitialize" />

    </InstallExecuteSequence>
    <CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />
    <CustomAction Id='AlreadyUpdated' Error='This version of [ProductName] is already installed.' />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="REBOOT" Value="ReallySuppress" />

    <ComponentGroup Id ="MainComponent">
      <Component Id="MyDLP.EndPoint.Platform.dll" Directory="INSTALLLOCATION" Guid="*">
        <File Id="MyDLP.EndPoint.Platform.dll" Name="MyDLP.EndPoint.Platform.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\..\Service\bin\Release\MyDLP.EndPoint.Platform.dll" />
      </Component>

      <Component Id="MyDLP.EndPoint.Service.exe" Directory="INSTALLLOCATION" Guid="*">
        <File Id="MyDLP.EndPoint.Service.exe" Name="MyDLP.EndPoint.Service.exe" KeyPath="yes" Vital="yes" DiskId="1" Source="..\..\Service\bin\Release\MyDLP.EndPoint.Service.exe" />
        <ServiceControl Id="MyDLP.EndPoint.Service.exe" Name="mydlpepwin" Start="install" Stop="uninstall" Remove="uninstall" Wait="no" />
        <ServiceInstall Id="MyDLP.EndPoint.Service.exe" Name="mydlpepwin" DisplayName="MyDLP EP Win" Type="ownProcess" Start="auto" ErrorControl="normal" Description="MyDLP Windows Endpoint"/>

        <CreateFolder Directory="LOGSDIR" />
        <CreateFolder Directory="RUNDIR" />
        <CreateFolder Directory="SPOOLDIR" />
        <CreateFolder Directory="MNESIADIR" />
        <CreateFolder Directory="PRINTINGDIR" />
      </Component>

      <Component Id="MyDLP.EndPoint.Watchdog.exe" Directory="INSTALLLOCATION" Guid="*">
        <File Id="MyDLP.EndPoint.Watchdog.exe" Name="MyDLP.EndPoint.Watchdog.exe" KeyPath="yes" Vital="yes" DiskId="1" Source="..\..\Watchdog\bin\Release\MyDLP.EndPoint.Watchdog.exe" />
        <ServiceControl Id="MyDLP.EndPoint.Watchdog.exe" Name="mydlpepwatchdog" Stop="uninstall" Remove="uninstall" Wait="no" />
        <ServiceInstall Id="MyDLP.EndPoint.Watchdog.exe" Name="mydlpepwatchdog" DisplayName="MyDLP EP Watchdog" Type="ownProcess" Start="demand" ErrorControl="normal" Description="MyDLP EP Watchdog" />
        <CreateFolder Directory="LOGSDIR" />
        <CreateFolder Directory="RUNDIR" />
        <CreateFolder Directory="SPOOLDIR" />
        <CreateFolder Directory="MNESIADIR" />
      </Component>

      <Component Id="MyDLP.EndPoint.Core.dll" Directory="INSTALLLOCATION" Guid="*">
        <File Id="MyDLP.EndPoint.Core.dll" Name="MyDLP.EndPoint.Core.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\..\Service\bin\Release\MyDLP.EndPoint.Core.dll" />
      </Component>

      <Component Id="MyDLPMF.pdb" Directory="INSTALLLOCATION" Guid="*">
        <File Id="MyDLPMF.pdb" Name="MyDLPMF.pdb" Vital="no" DiskId="1" Source="..\..\MiniFilter\src\objchk_wxp_x86\i386\MyDLPMF.pdb" />
      </Component>

      <Component Id="vc90.pdb" Directory="INSTALLLOCATION" Guid="*">
        <File Id="vc90.pdb" Name="vc90.pdb" KeyPath="yes" Vital="no" DiskId="1" Source="..\..\MiniFilter\src\objchk_wxp_x86\i386\vc90.pdb" />
      </Component>

      <Component Id="MyDLPMF.sys" Directory="INSTALLLOCATION" Guid="*">
        <File Id="MyDLPMF.sys" Name="MyDLPMF.sys" KeyPath="yes" Vital="yes" DiskId="1" Source="..\..\MiniFilter\src\objchk_wxp_x86\i386\MyDLPMF.sys" />
      </Component>

      <Component Id="MyDLPMF_64.sys" Directory="INSTALLLOCATION" Guid="*">
        <File Id="MyDLPMF_64.sys" Name="MyDLPMF_64.sys" KeyPath="yes" Vital="yes" DiskId="1" Source="..\..\MiniFilter\src\objchk_win7_amd64\amd64\MyDLPMF.sys" />
      </Component>

      <Component Id="MyDLPKBF.sys" Directory="INSTALLLOCATION" Guid="*">
        <File Id="MyDLPKBF.sys" Name="MyDLPKBF.sys" KeyPath="yes" Vital="yes" DiskId="1" Source="..\..\KbFilter\src\objchk_wxp_x86\i386\MyDLPKBF.sys" />
      </Component>

      <Component Id="MyDLPKBF_64.sys" Directory="INSTALLLOCATION" Guid="*">
        <File Id="MyDLPKBF_64.sys" Name="MyDLPKBF_64.sys" KeyPath="yes" Vital="yes" DiskId="1" Source="..\..\KbFilter\src\objchk_win7_amd64\amd64\MyDLPKBF.sys" />
      </Component>

      <Component Id="MyDLPKBF.pdb" Directory="INSTALLLOCATION" Guid="*">
        <File Id="MyDLPKBF.pdb" Name="MyDLPKBF.pdb" Vital="no" DiskId="1" Source="..\..\KbFilter\src\objchk_wxp_x86\i386\MyDLPKBF.pdb" />
      </Component>

      <Component Id="mydlp.conf" Directory="INSTALLLOCATION" Guid="*">
        <File Id="mydlp.conf" Name="mydlp.conf" Vital="yes" KeyPath="yes" DiskId="1" Source="..\..\Engine\mydlp\src\mydlp\mydlp-ep.conf" />
      </Component>

      <Component Id="engine_java_run" Directory="ENGINEJAVADIR" Guid="*">
        <File Id="engine_java_run" Name="Run.bat" Vital="yes" KeyPath="yes" DiskId="1" Source="..\..\Engine\mydlp\src\backend\Run.bat" />
      </Component>

      <Component Id="engine_java_jar" Directory="ENGINEJAVADIR" Guid="*">
        <File Id="engine_java_jar" Name="mydlp-backend.jar" Vital="yes" KeyPath="yes" DiskId="1" Source="..\..\Engine\mydlp\src\backend\target\mydlp-backend.jar" />
      </Component>

      <Component Id="tika_xps_java_jar" Directory="ENGINEJAVADIR" Guid="*">
        <File Id="tika_xps_java_jar" Name="tika-xps.jar" Vital="yes" KeyPath="yes" DiskId="1" Source="..\..\Engine\mydlp\src\backend\target\tika-xps.jar" />
      </Component>

      <Component Id="AppPath" Directory="INSTALLLOCATION" Guid="*">
        <RegistryValue Id="AppPath" Root="HKLM" Key="Software\MyDLP" Name="AppPath" Value="[INSTALLLOCATION]" Type="string" KeyPath="yes" />
      </Component>

      <Component Id="ManagementServerComp" Directory="INSTALLLOCATION" Guid="*" Permanent="yes" NeverOverwrite="no">
        <RegistryValue Id="ManagementServerKey" Root="HKLM" Key="Software\MyDLP" Name="management_server" Value="[MANAGEMENTSERVER]" Type="string" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id ="ControlPanel">
      <Component Id="mydlpcpl.exe" Directory="INSTALLLOCATION" Guid="*">
        <File Id="mydlpcpl.exe" Name="mydlpcpl.exe" KeyPath="yes" Vital="yes" DiskId="1" Source="..\..\Tools\ControlPanel\bin\Release\MyDLP.EndPoint.Tools.ControlPanel.exe" />
      </Component>

      <Component Id="ControlPanelCLSIDEntries" Directory="INSTALLLOCATION" Guid="*" >
        <RegistryKey Root="HKCR" Key="CLSID\{2CA4E47D-F0DA-4726-9E5C-BE52DF347249}"  Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="LocalizedString" Value="MyDLP Settings"/>
          <RegistryValue Type="string" Name="InfoTip" Value="Configure MyDLP Endpoint Agent"/>
          <RegistryValue Type="string" Name="System.ApplicationName" Value="MyDLP.Settings"/>
          <RegistryValue Type="string" Name="System.ControlPanel.Category" Value="5"/>
          <RegistryValue Type="string" Value="MyDLP" KeyPath="yes"/>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{2CA4E47D-F0DA-4726-9E5C-BE52DF347249}\DefaultIcon" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[INSTALLLOCATION]mydlpcpl.exe"/>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{2CA4E47D-F0DA-4726-9E5C-BE52DF347249}\Shell\Open\Command" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[INSTALLLOCATION]mydlpcpl.exe"/>
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\ControlPanel\NameSpace\{2CA4E47D-F0DA-4726-9E5C-BE52DF347249}" Action="createAndRemoveOnUninstall"/>
      </Component>

    </ComponentGroup>

    <UI>
      <Property Id="DefaultUIFont">DlgFont8</Property>

      <Dialog Id="InstallDlg" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\DlgTitleFont}Ready to Install</Text>
        </Control>

        <Control Id="Install" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Text="Install">
          <Publish Event="EndDialog" Value="Return" />
        </Control>

        <Control Id="CancelButton" Type="PushButton" Text="Cancel" Height="17" Width="56" X="241" Y="243" Cancel="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>

        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15"
         Transparent="yes" NoPrefix="yes">
          <Text>The [Wizard] is ready to begin the installation</Text>
        </Control>

        <Control Id="EditDescription" Type="Text" X="25" Y="50" Width="280" Height="15"
        Transparent="yes" NoPrefix="yes">
          <Text>Enter MyDLP Network Server IP address</Text>
        </Control>

        <Control Id="RegEdit" Type="Edit" X="25" Y="65" Width="220" Height="18" Property="MANAGEMENTSERVER" Text="{80}" />

        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
      </Dialog>

      <TextStyle Id="DlgFont8" FaceName="Tahoma" Size="8" />
      <TextStyle Id="DlgTitleFont" FaceName="Tahoma" Size="8" Bold="yes" />

      <InstallUISequence>
        <Show Dialog="InstallDlg" After="ValidateProductID" />
      </InstallUISequence>
    </UI>

    <Property Id="Wizard">Setup Wizard</Property>

    <Property Id="MANAGEMENTSERVER">
      <RegistrySearch Id="ManagementServerSearch"
        Root="HKLM"
        Key="Software\MyDLP"
	      Name="management_server"
	      Type="raw" />
    </Property>

  </Product>

</Wix>

